<div class="row text-xs-center text-success ">
	<h2><i class="fa fa-rocket fa-4x"></i></h2>
</div>
<div class="row">
	<div class="col-sm-10 col-sm-offset-1 p-b-2">
		<h5 class="text-warning">I want to Spoop!</h5>
		<p class="text-muted">
		  <em>You're right.</em> Pooping is for everybody! We're on it. 
		</p>
		<p class="text-muted">Sign on up and we'll let you know when the shit hits... wait, we'll let you know when the going gets... yeah, we'll let you know. Soon.
		</p>

	</div>
</div>


<div class="row p-b-3">
	<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
	<%= render 'form' %>
	</div>
</div>
