<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi there!</h1>
    <p>
      You're on the list at Spoop! Great! I'll let you know when the next big thing rolls around.
    </p>
		<p>
			Happy pooping, <br>
			Isaac
		</p>
  </body>
</html>