<ul class="text-muted">
	<hr>
	<li>This is an unofficial app - it has no direct corporate, academic, professional, or otherwise official connection with Open Biome.</li>
	<hr>
	<li><strong>The email address that you use to register will be associated with your donor number.</strong> It will not be available or visible to anyone outside of the site admins and Open Biome admins, but cannot be unidirectionally encrypted, and thus cannot be perfectly anonymized. Use an email which reflects a scope of identity that you are willing to share with Open Biome and the database managers.</li>
	<li>Your password, on the other hand, <em>will</em> be unidirectionally encrypted, so make it anything you like. No one will ever know it except you.</li>
	<hr>
	<li><strong>Only share information that you would be comfortable sharing publicly.</strong> I'll treat your information as sensitively and respectfully as I would any medical information. However, I'm not a doctor, and this is not a hospital.</li>
	<li>If something beyond my control happens to your data, I won't be held liable. But know that my information is here too - so if we go down, we go down together.</li>
	<li>I solemnly swear never to sell, rent, give away, or in any other way intentionally publicize <em>any</em> of your (or my) information.</li>
	<hr>
	<li>I am a partner in very small company called <a target="_blank" href="http://areteh.co/#/rotblauer">Rotblauer</a>, so if you see that name around, that's what that is. Officially this app and it's <a targe="_blank" href="https://geo.itunes.apple.com/us/app/spoop/id1121224366?mt=8">mobile counterpart</a> are licensed to Rotblauer for the bespoke liability reasons.</li>
</ul>