<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		
<!-- 		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
			<%= image_tag('read-the-terms-and-conditions.jpg', class: 'img-fluid m-b-2', style:'margin-left: auto; margin-right: auto;') %></div>
		</div> -->

		<p class="lead">
			<strong>Hi, my name is Isaac</strong>, and I'm (also) an Open Biome donor.
		</p>
		<p class="lead">
			Here's a few things you should know before signing up for Spoop:
		</p>
		<ul class="text-muted">
			<li>This is an unofficial app - it has no direct corporate, academic, professional, or otherwise official connection with Open Biome.</li>
			<li>I'll treat your information as sensitively and respectfully as I would any medical information. However, I'm not a doctor, and this is not a hospital. Only share information that you would be comfortable sharing publicly.</li>
			<li>If something beyond my control happens to your data, I won't be held liable. (But know that my information is here too, so if we go down, we go down together.)</li>
			<li>I'll never sell, rent, give away, or in any other way publicize <em>any</em> of your (or my) information.</li>
			<li>I am a partner in very small company called <a href="http://areteh.co/#/rotblauer">Rotblauer</a>, so if you see that name around, that's what that is. Officially this app and it's <a href="">mobile counterpart</a> are licensed to Rotblauer for the bespoke liability reasons.</li>
		</ul>
	</div>
</div>